body{
	font: 20px Arial, sans-serif;
}

.navbar {
	background-color: #3242A8;
}

#global-labs {
	margin-left: 20px;
}

.quem-somos{
	background-color: #2E86C1;
	color: #fff;
}

#frase {
	margin-top: 60px;
}

.margin{
	padding-top: 10px;
	padding-bottom: 50px; 
}

.parceiros{
	background-color: #85C1E9;
	color: #fff;
}

.bg-footer{
	background-color: #000;
	color: #fff;
}